{% extends "app/base.html" %}

{% block title %}
Membres
{% endblock title %}

{% block main-content %}
<div>
    <button class="button dt-button p-2 m-2" data-bs-toggle="modal" data-bs-target="#exampleModal-enreg">Enregistrer un nouveau membre</button>
<div>

{% if messages %}
                        
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
    {% endfor %}
            
{% endif %}

<table class="table table-striped" id="table_membres">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Sexe</th>
            <th scope="col">Numéro</th>
            <th scope="col">Profession</th>
            <th scope="col">Sous groupe</th>
            <th scope="col"> <i class='icon-edit'></i> </th>
            <th scope="col"> <i class="icon-close btn btn-danger"></i> </th>
        </tr>
    </thead>
    <tbody>
        
        {% for membre in membres %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.sexe }}</td>
                <td>{{ membre.numero }}</td>
                <td>{{ membre.profession }}</td>
                <td> {% if membre.sous_groupe %}{{ membre.sous_groupe.nom }}{% else %}Néant{% endif %}</td>
                <td><button hx-get="{% url "update-membre" membre.id %}" hx-target="#modal-membre-editer"
                    hx-swap="innerHTML" title="Editer" data-bs-toggle="modal" data-bs-target="#exampleModal-editer"><i class="icon-edit" type="solid"></i></button>
                </td>
                <td>
                    
                        <a 
                            title="Supprimer {{ membre }}"
                            hx-get="" 
                            hx-target="closest tr"
                            hx-swap="outerHTML"
                            hx-confirm="Voulez vous vraiment supprimer cet examen?"

                        >
                            <i class="icon-close btn btn-danger"></i>
                        </a>
                </td>
            </tr>
        {% endfor %}
            
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal-enreg" tabindex="-1" aria-labelledby="examleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Enregistrer un membre</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-patient-ajouter">
                <form action="" method="post" class="shadow p-5">
                    {% csrf_token %}
                    
                    {% for fm in form %}
                    <div class="form-group row my-2">
                        <div  class="col-sm-2 ">
                            {{ fm.label_tag }}
                        </div>
                        <div class="col-sm-10">
                            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group row my-2">
                        <div  class="col-sm-2 ">
                            Sous-groupe
                        </div>
                        <div class="col-sm-10">
                            <select name="sous_groupe_id" class="form-select">
                                <option value="">Choisir le sous groupe</option>
                                {% for sous_groupe in sous_groupes %}
                                <option value="{{sous_groupe.id}}">{{ sous_groupe.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <input type="submit" value="Submit" class="btn btn-primary col">
                    </div>
                    
                    {% if form.non_field_errors %}
                
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                            
                    {% endif %} 
                
                    {% comment %} {% if messages %}
                            
                        {% for msg in messages %}
                            <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
                        {% endfor %}
                            
                    {% endif %} {% endcomment %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save change</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-editer" tabindex="-1" aria-labelledby="examleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Modifier un membre</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-membre-editer">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save change</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>




{% endblock main-content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#table_membres").DataTable({
            autoWidth: false,
            
        });
    });

</script>

{% endblock script %}

