{% extends "app/base.html" %}

{% block title %}
Détails d'une cotisation
{% endblock title %}


{% block main-content %}
Détails de la cotisation

<table class="table table-striped" id="table_cotisation_details">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col"> Date </th>
            <th scope="col">Membre</th>
            <th scope="col">Montant</th>
            <th scope="col"> <i class='icon-edit'></i> </th>
            <th scope="col"> <i class="icon-close btn btn-danger"></i> </th>
        </tr>
    </thead>
    <tbody>
        
        {% for cotisation_item in cotisation_items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cotisation_item.date_cotisation }}</td>
                <td>{{ cotisation_item.membre }}</td>
                <td>{{ cotisation_item.montant }} FCFA</td>
                <td><button hx-get="" hx-target="#modal-membre-editer"
                    hx-swap="innerHTML" title="Editer" data-bs-toggle="modal" data-bs-target="#exampleModal-editer"><i class="icon-edit" type="solid"></i></button>
                </td>
                <td>
                    
                        <a 
                            title="Supprimer"
                            hx-get="" 
                            hx-target="closest tr"
                            hx-swap="outerHTML"
                            hx-confirm="Voulez vous vraiment supprimer cet examen?"

                        >
                            <i class="icon-close btn btn-danger"></i>
                        </a>
                </td>
            </tr>
        {% endfor %}
            
    </tbody>
</table>

{% endblock main-content %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#table_cotisation_details").DataTable({
            autoWidth: false,
            
        });
    });
</script>
{% endblock script %}


