{% load static %}
{% comment %} <!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Django-Auth-app">
		<meta name="author" content="Romarioben">
		<link rel="shortcut icon" href="{% static 'app/img/favicon.svg' %}" />

		<!-- Title -->
		<title>Authentification || {% block title %}{% endblock title %}</title>

		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">

		<!-- Master CSS -->
		<link rel="stylesheet" href="{% static 'app/css/main.min.css' %}">

		
		<!-- Icomoon Font Icons css -->
        <link rel="stylesheet" href="{% static 'app/fonts/style.css' %}">
		<!-- Main css -->
        

	</head>

	<body class="authentication">

		<!-- Container start -->
		<div class="container">

			<form action="" method="post">
				<div class="row justify-content-md-center">
					<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
						<div class="login-screen">
							{% block main-content %}
							
							{% endblock main-content %}
						</div>
					</div>
				</div>
			</form>

		</div>
		<!-- Container end -->

	</body>

</html> {% endcomment %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GESPRES || {% block title %}{% endblock  %} </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'app/assets/vendors/feather/feather.css' %}" >
    <link rel="stylesheet" href="{% static 'app/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/vendors/font-awesome/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'app/assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/bootstrap-show-password/css/show-password-toggle.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'app/assets/css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'app/assets/images/favicon.png' %}"/>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img src="{% static 'app/assets/images/logo0.svg' %}" alt="logo">
                </div>
                <h4>Salut! Commencez avec GESPRES</h4>
                <h6 class="fw-light">Connectez-vous pour continuer.</h6>
                {% block main-content %}
				
				{% endblock main-content %}
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'app/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'app/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'app/assets/js/off-canvas.js' %}"></script>
    {% comment %} <script src="{% static 'app/bootstrap-show-password/js/show-password-toggle.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'app/assets/js/template.js' %}"></script>
    <script src="{% static 'app/assets/js/settings.js' %}"></script>
    <script src="{% static 'app/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'app/assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    {% block script %}
    
    {% endblock script %}
  </body>
</html>