{% extends "auth_app/base.html" %}

{% load static %}

{% block title %}
Password reset
{% endblock title %}

{% block main-content %}
<div class="login-box">
    {% csrf_token %}
    <a href="#" class="login-logo">
        <img src="{% static 'app/img/logo2.png' %}" alt="Admin Dashboards" />
    </a>
    <h5>Mot de passe oublié<br />Veullez entrer votre adresse email pour la récuperation de votre compte.</h5>
    <div class="form-group">
        {{ form.email }} <small class="text-danger"> {{ form.email.errors|striptags }}</small> <br>
    </div>
    <div class="actions mb-4">
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>

    {% if form.non_field_errors %}

        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{ error }}</p>
        {% endfor %}
            
    {% endif %} 

    {% if messages %}
            
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
        {% endfor %}
            
    {% endif %}
    <div class="forgot-pwd">
        <a class="link" href="{% url "login" %}">Connectez-vous à votre compte ici?</a>
    </div>
    <hr>
    <div class="actions align-left">
        <span class="additional-link">Voulez-vous enregistrer votre groupe?</span>
        <a href="{% url "registration" %}" class="btn btn-secondary">Créer un compte</a>
    </div>
    
</div>
{% endblock main-content %}

