<form 
    {% if membre %}
    hx-post="{% url "promesse-gerer" membre_id=membre.id cotisation_id=cotisation.id%}"
    {% else %}
    hx-post="{% url "promesse-modifier" promesse.id %}"
    {% endif %}
    hx-trigger="submit" 
    hx-swap="outerHTML" 
    hx-confirm="Avant de soumettre vérifier les données entrées. Elles ne pourront plus être modifiées." 
    class="row p-1"
>
    {% csrf_token %}
    
    {% for fm in form %}
    <div class="form-group row my-2">
        <div  class="col-12">
            {{ fm.label_tag }}
        </div>
        <div class="col-12">
            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
        </div>
    </div>
    {% endfor %}
    <div class="col-6">
        <input type="submit" value="Submit" class="btn btn-primary col">
    </div>
    
    {% if form.non_field_errors %}

        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{ error }}</p>
        {% endfor %}
            
    {% endif %} 

</form>