{% extends "auth_app/base.html" %}

{% load static %}

{% block title %}
Login
{% endblock title %}

{% block main-content %}
<div class="login-box">
    {% csrf_token %}
    <h4>Salut! Commencez avec GESPRES</h4>
    <h6 class="fw-light">Enregistrer votre groupe pour continuer.</h6>
    <form class="pt-3" method="post">
        {% csrf_token %}
        {% for fm  in form %}
        <div class="form-group">
            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
        </div>
        {% endfor %}

        

        {% for fm  in form1 %}
        <div class="form-group">
            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
        </div>
        {% endfor %}
        
        <div class="mb-4 w-100">
            <button type="submit" class="btn btn-primary w-100">Soumettre</button>
        </div>

        {% if form.non_field_errors %}

            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{ error }}</p>
            {% endfor %}
                
        {% endif %} 

        {% if messages %}
                
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
            {% endfor %}
                
        {% endif %}
        <div class="my-2 d-flex justify-content-between align-items-center">
            <a href="#" class="auth-link text-black">Mot de passe oublié?</a>
        </div>
        
        <div class="text-center mt-4 fw-light"> Vous avez un  compte? <a href="{% url "login" %}" class="text-primary">Connectez-vous</a>
        </div>

    </form>
    
</div>
{% endblock main-content %}


