{% extends "auth_app/base.html" %}

{% load static %}

{% block title %}
Login
{% endblock title %}

{% block main-content %}
<div class="login-box">
    {% csrf_token %}
    <a href="#" class="login-logo">
        <img src="{% static 'app/img/logo.svg' %}" alt="Admin Dashboards" />
    </a>
    <h5>Bienvenu(e)<br />Enregistrer votre groupe.</h5>

    {% for fm  in form %}
        <div class="form-group">
            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
        </div>
    {% endfor %}

    {% for fm  in form1 %}
        <div class="form-group">
            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
        </div>
    {% endfor %}

    {% comment %} <div class="form-group">
        {{ form.username }} <small class="text-danger"> {{ form.username.errors|striptags }}</small> <br>
    </div>
    <div class="form-group">
        {{ form.password }}<a id='togglePassword' class="m-1"><i id='icone' class='bx bx-lock-alt'></i> </a> <small class="text-danger"> {{ form.password.errors|striptags }}</small> <br>
    </div> {% endcomment %}
    <div class="actions mb-4">
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>

    {% if form.non_field_errors %}

        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{ error }}</p>
        {% endfor %}
            
    {% endif %} 

    {% if messages %}
            
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
        {% endfor %}
            
    {% endif %}
    <div class="forgot-pwd">
        <a class="link" href="{% url "password_reset" %}">Mot de passe oublié?</a>
    </div>
    <hr>
    <div class="actions align-left">
        <span class="additional-link">Avez-vous un compte?</span>
        <a href="{% url "login" %}" class="btn btn-secondary">Connectez-vous</a>
    </div>
    
</div>
{% endblock main-content %}

