{% extends "app/base.html" %}

{% block title %}
Dépenses
{% endblock title %}


{% block main-content %}
<div class="row">
    <div class="col" >
        <button class="button dt-button p-2 m-2" data-bs-toggle="modal" data-bs-target="#exampleModal-enreg">Enregistrer une nouvelle dépense</button>
    </div>
</div>

{% if messages %}
                        
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
    {% endfor %}
            
{% endif %}


<table class="table table-striped" id="table_cotisations">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col">Date</th>
            <th scope="col">Motif</th>
            <th scope="col">Montant</th>
            <th scope="col">Sous-groupe</th>
            <th scope="col">Fait par</th>
            <th scope="col"> <i class='icon-edit'></i> </th>
        </tr>
    </thead>
    <tbody>
        
        {% for depense in depenses %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ depense.date_depense }}</td>
                <td>{{ depense.motif }}</td>
                <td>{{ depense.montant }}</td>
                <td> {% if cotisation.sous_groupe %}<span id="fermer-ouvrir-{{cotisation.id}}">{{ depense.sous_groupe}}</span>{% else %}<span id="fermer-ouvrir-{{cotisation.id}}">Néant</span>{% endif %}</td>
                <td>{{ depense.cree_par }}</td>
                <td><button hx-get="{% url "depense-update" depense.id %}" hx-target="#modal-depense-editer"
                    hx-swap="innerHTML" title="Editer" data-bs-toggle="modal" data-bs-target="#exampleModal-editer"><i class="icon-edit" type="solid"></i></button>
                </td>
            </tr>
        {% endfor %}
            
    </tbody>
</table>




<div class="modal fade" id="exampleModal-enreg" tabindex="-1" aria-labelledby="examleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Enregistrer une dépense</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-patient-ajouter">
                <form action="" method="post" class="shadow p-5">
                    {% csrf_token %}
                    {% comment %} <h5 class="text-center m-auto my-3">Assurer avant de créer une cotisation, une fois créée, elle ne sera plus supprimée<h5> {% endcomment %}
                    {% for fm in form %}
                    <div class="form-group row my-2">
                        <div  class="col-sm-2 ">
                            {{ fm.label_tag }}
                        </div>
                        <div class="col-sm-10">
                            {{ fm }} <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group row my-2">
                        <div  class="col-sm-2 ">
                            Sous-groupe
                        </div>
                        <div class="col-sm-10">
                            <select name="sous_groupe_id" class="form-select">
                                <option value="">Choisir le sous groupe</option>
                                {% for sous_groupe in sous_groupes %}
                                <option value="{{sous_groupe.id}}">{{ sous_groupe.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <input type="submit" value="Submit" class="btn btn-primary col">
                    </div>
                    
                    {% if form.non_field_errors %}
                
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                            
                    {% endif %} 
                
                    {% comment %} {% if messages %}
                            
                        {% for msg in messages %}
                            <div class="alert alert-{{ msg.tags }}" role="alert"> {{ msg }}</div>
                        {% endfor %}
                            
                    {% endif %} {% endcomment %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save change</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-editer" tabindex="-1" aria-labelledby="examleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Modifier une dépense</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-depense-editer">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save change</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            console.log("Changement détecté :", mutation);
        });
    
        var selects = document.querySelectorAll('select');
        if(selects) {
            for(let select of selects){
                const choices = new Choices(select); 
            }
            
        }
    });
</script>
{% endblock script %}
{% endblock main-content %}