<div  class="shadow p-1">

    <div class="form-group row my-2">
        <div  class="col-sm-12">
            Date d'échéance
        </div>
        <div class="col-sm-12">
            {{ promesse.date_echeance }}
        </div>
    </div>

    <div class="form-group row my-2">
        <div  class="col-sm-12">
            Type de promesse
        </div>
        <div class="col-sm-12">
            {{ promesse.type_promesse }}
        </div>
    </div>


    <div class="form-group row my-2">
        <div  class="col-12">
            Unité
        </div>
        <div class="col-12">
            {{ promesse.unite }}
        </div>
    </div>

    <div class="form-group row my-2">
        <div  class="col-12">
            Quantité
        </div>
        <div class="col-12">
            {{ promesse.quantite }}
        </div>
    </div>


</div>